@model SIPCA.CLASES.Models.DetallePedido

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DetallePedido</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.PedidoId)
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.NPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aplicaIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aplicaIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentajeIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVendido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
