@model SIPCA.CLASES.Models.DetallePedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallePedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.NPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aplicaIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aplicaIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentajeIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVendido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetallePedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
