@model SIPCA.CLASES.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Pedido realizado</h2>

<div>
    <h4>Datos de confirmación</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPedido)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>


         <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEntrega.NombreTipoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEntrega.NombreTipoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
    <p>El pedido debe ser cancelado antes de @Html.DisplayFor(model => model.FechaCorte) </p> 
</div>
<p>
   
   <a href="@Url.Action("Index","Home")"><span class="btn btn-default btn-lg active">Inicio</span></a>
  
</p>
