@model IEnumerable<SIPCA.CLASES.Models.DetalleCarrito>

@{
    ViewBag.Title = "Detalles del Carrito";
    ViewBag.Total = 0;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal) (Sin IVA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
            @{
                ViewBag.Total += item.SubTotal;
             }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdDetalleCarrito }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdDetalleCarrito })
        </td>
    </tr>
}
</table>
<h3 style="font-weight: 600; color: whitesmoke">Realizar compra</h3>
@using SIPCA.CLASES.Context
@{
    var db = new ModelContext();
    var tipoEntregas = db.TipoEntregas.ToList();
}
@using (Html.BeginForm("Create", "Pedidos", FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "margin-left:15px;" }))
{
    <div class="form-group">
        <label for="TipoEntrega">Seleccione el tipo de entrega:</label>
        <select class="form-control" id="TipoEntrega" name="TipoEntrega" style="color: sienna;" required>
            @foreach (var item in tipoEntregas)
            {
                <option value="@item.IdTipoEntrega">@item.NombreTipoEntrega</option>
            }
        </select>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <label for="Total">Total de la compra (Sin IVA):</label>
        <input type="text" class="form-control" id="Total" name="Total" value="@ViewBag.Total" readonly required/>
    </div>
    <input style="margin-bottom:5px;" type="submit" value="Comprar" class="btn btn-info" />
}

