@model SIPCA.MVC.ViewModels.ModeloIndex


@{
    ViewBag.Title = "Inicio";
}
<style type="text/css">
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: auto;
        height: 455px;
        margin: 8px;
        background-color: #bec1c3;
        border-radius: 15px;
    }
    .card:hover { box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3); }
    .content { 
        padding: 4px 16px; 
        height: 85px; 
        background: lavender; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .card img{ margin: 0 auto; width: 85%;}
    #myCarousel{ width:80%; margin:0 auto; height: 400px; }
    img.icar { margin: 0 auto; }
    @@media screen and ( max-width : 420px) {
        #myCarousel{ height: 300px; }
        img.icar { min-height: 300px; }
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
@using SIPCA.CLASES.Models;
@{
    var listaP = (List < Producto >) ViewBag.slider;
    var cantidad = listaP.Count();
}
<br/>
<br/>
<div class="row text-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < cantidad; i++){
                if (i == 0){
                    <li style="background-color:thistle;" data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                } else{
                    <li style="background-color:thistle;" data-target="#myCarousel" data-slide-to="@i"></li>
                }
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="background-color: white;">
            @for (int i = 0; i < cantidad; i++){
                if (i == 0){
                    <div class="item active">
                        <a href="@Url.Action("DetailsCarProduct", "Productos", new { id = @listaP.ElementAt(i).IdProducto })" title="Ver detalles">
                            @if (listaP.ElementAt(i).Imagen == null)
                            {
                                <h3 style="color: #986a54; height: 400px; width: 70%; margin: 0 auto; padding-top: 180px;">No hay imagen</h3>
                            }
                            else
                            {
                                <img style="max-height:400px;" class="img-responsive icar" src="@Url.Content(listaP.ElementAt(i).Imagen.ImagePath)" alt="imagen">
                            }
                        </a>
                        <div class="carousel-caption" style="background-color: rgba(214, 214, 230, 0.39);">
                            <h3 class="label label-primary" style="font-size:1.6rem;">@listaP.ElementAt(i).Nombre</h3>
                            <p style="color:black; padding-top: 5px;">@listaP.ElementAt(i).Categoria.Nombre</p>
                        </div>
                    </div>
                } else{
                    <div class="item">
                        <a href="@Url.Action("DetailsCarProduct", "Productos", new { id = @listaP.ElementAt(i).IdProducto })" title="Ver detalles">
                            @if (listaP.ElementAt(i).Imagen == null)
                            {
                                <h3 style="color: #986a54; height: 400px; width: 70%; margin: 0 auto; padding-top: 180px;">No hay imagen</h3>
                            }
                            else
                            {
                                <img style="max-height:400px;" class="img-responsive icar" src="@Url.Content(listaP.ElementAt(i).Imagen.ImagePath)" alt="imagen">
                            }
                        </a>
                        <div class="carousel-caption" style="background-color: rgba(214, 214, 230, 0.39);">
                            <h3 class="label label-primary" style="font-size:1.6rem;">@listaP.ElementAt(i).Nombre</h3>
                            <p style="color:black; padding-top: 5px;">@listaP.ElementAt(i).Categoria.Nombre</p>
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="clearfix"></div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="input-group" style="margin: 0 auto;">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <select class="form-control" id="categoria" name="categoria" style="color: sienna;">
                        @foreach (var item in Model.categorias){
                            <option value="@item.IdCategoria">@item.Nombre</option>
                        }
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info">Buscar por</button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<div class="row" style="margin-top: 30px;">

    @foreach (var item in Model.Productos)
    {
        <div class="col-sm-4">
            <div class="card">
				@if (item.Imagen != null)
                {
					<a href="@Url.Action("DetailsCarProduct", "Productos", new { id = item.IdProducto })" 
                       data-toggle="tooltip" data-placement="bottom" title="Ver detalles">
                        <img src="@Url.Content(item.Imagen.ImagePath)" alt="1" class="img-responsive" style="height: 370px;">
                    </a>
                }
                else
                {
                    <a href="@Url.Action("DetailsCarProduct", "Productos", new { id = item.IdProducto })"
                       data-toggle="tooltip" data-placement="bottom" title="Ver detalles" style="text-decoration: none;">
                        <h3 style="color: whitesmoke; height: 370px; text-align: center; padding-top: 185px; margin-top: auto; margin-bottom: auto;">No hay imagen</h3>
                    </a>
                    
                }
                <div class="content">
                    <p><b><span class="badge badge-primary">Producto:</span></b> @Html.DisplayFor(modelItem => item.Nombre)</p>

                    <p><b><span class="badge badge-primary">Categoría:</span></b> @Html.DisplayFor(modelItem => item.Categoria.Nombre)</p>

                    <p style="display: inline-block;"><b><span class="badge badge-primary">Precio:</span></b> C$@Html.DisplayFor(modelItem => item.PrecioVenta)</p>

					<div class="text-right" style="display: inline-block; float: right; margin-top: -10px;">
                        @using (Html.BeginForm("Create", "DetalleCarritoes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <input type="hidden" name="ProductoId" id="ProductoId" value="@Html.DisplayFor(modelItem => item.IdProducto)" />
                            <input type="hidden" name="SubTotal" id="SubTotal" value="@Html.DisplayFor(modelItem => item.PrecioVenta)" />
                            <input type="hidden" name="cantidad" id="cantidad" value="1" />
                            <input type="submit" value="Añadir al carrito" class="btn btn-xs btn-info" />
                        }
                        @** @Html.ActionLink("Añadir al carrito", "Create", "DetalleCarritoes", new { ProductoId = item.IdProducto, cantidad = 1 }, htmlAttributes: new { @class = "btn btn-xs btn-info navbar" })**@
					</div> 
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //add tooltip
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
   