@{
    ViewBag.Title = "Inicio - Admin";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>Pedidos sin cancelar</h3></div>
            <div class="panel-body text-center">
                <p>Pedidos guardados sin cancelación</p>
                <a href="@Url.Action("Index", "Pedidoes")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Pedidos sin cancelar">
                    <span class="btn btn-danger">Ir a los Pedidos sin cancelar</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>Pedidos Vencidos</h3></div>
            <div class="panel-body text-center">
                <p>Pedidos que ya han pasado su fecha de vencimiento</p>
                <a href="@Url.Action("IndexVencidos", "Pedidoes")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Pedidos Vencidos">
                    <span class="btn btn-danger">Ir a los Pedidos Vencidos</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>Historial de Pedidos</h3></div>
            <div class="panel-body text-center">
                <p>Pedidos que no han sido eliminados</p>
                <a href="@Url.Action("IndexTotal", "Pedidoes")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Historial de Pedidos">
                    <span class="btn btn-danger">Ir a el Historial</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Categorías</h3></div>
            <div class="panel-body text-center">
                <p>Categorías de los productos en inventario</p>
                <a href="@Url.Action("Index", "Categorias")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Categorías">
                    <span class="btn btn-primary">Ir a las categorías</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Marcas</h3></div>
            <div class="panel-body text-center">
                <p>Marcas asociadas a los productos</p>
                <a href="@Url.Action("Index", "Marcas")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Marcas">
                    <span class="btn btn-primary">Ir a las Marcas</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Productos</h3></div>
            <div class="panel-body text-center">
                <p>Productos asociados al inventario</p>
                <a href="@Url.Action("Index", "Productos")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Productos">
                    <span class="btn btn-primary">Ir a los Productos</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Proveedores</h3></div>
            <div class="panel-body text-center">
                <p>Proveedores asociados a la organización</p>
                <a href="@Url.Action("Index", "Proveedores")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Proveedores">
                    <span class="btn btn-primary">Ir a los Proveedores</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Clientes</h3></div>
            <div class="panel-body text-center">
                <p>Clientes asociados a la tienda</p>
                <a href="@Url.Action("Index", "Clientes")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Clientes">
                    <span class="btn btn-primary">Ir a los Clientes</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Tipos de Entregas</h3></div>
            <div class="panel-body text-center">
                <p>Tipos de entrega realizados a los clientes</p>
                <a href="@Url.Action("Index", "TipoEntregas")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Tipos de Entregas">
                    <span class="btn btn-primary">Ir a los Tipos de Entregas</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Roles</h3></div>
            <div class="panel-body text-center">
                <p>Roles existentes en el sistema</p>
                <a href="@Url.Action("Index", "ApplicationRoles")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Roles">
                    <span class="btn btn-primary">Ir a los Roles</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Usuarios</h3></div>
            <div class="panel-body text-center">
                <p>Usuarios existentes en el sistema</p>
                <a href="@Url.Action("Index", "ApplicationUsers")"
                   data-toggle="tooltip" data-placement="bottom" title="Ir a Usuarios">
                    <span class="btn btn-primary">Ir a los Usuarios</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //add tooltip
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>