@*ya no utlizamos la coleccion enumerada de categoria
    de abajo*@
@*@model IEnumerable<SIPCA.CLASES.Categoria> *@

@*utilizamos una lista de paginas*@
@using PagedList.Mvc
@model PagedList.IPagedList<SIPCA.CLASES.Models.Categoria>




@{
    ViewBag.Title = "Categorías";
}

<h2>Categorías</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>

<div class="row">
    <div class="col-md-2 col-md-push-10">
        <a class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Descargar PDF" href="@Url.Action("DescargarPDF", "Categorias", new {sort = ViewBag.CategoriaSort, search = ViewBag.CurrentSearch })"><i>PDF</i></a> |
        <a class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Descargar Excel" href="@Url.Action("DescargarXLS", "Categorias", new {sort = ViewBag.CategoriaSort, search = ViewBag.CurrentSearch })"><i>EXC</i></a>
    </div>
</div>


@*Encapsulamos todo en un solo div*@
<div class="row">

    @* utilizamos el siguinte codigo para crear un cuadro de busqueda*@
    <div class="input-group">
        @using (Html.BeginForm("Index", "Categorias", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="input-group">
                @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control", placeholder = "Escriba la busqueda", aria_discribedy = "basic-addon2" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </span>
            </div>

        }

    </div>

    @* ahora estructuramos la tabla de los datos*@

    <table class="table table-hover">
        @*Declaramos el encabezado*@
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Nombre", "Index", new { sort = ViewBag.CategoriaSort, search = ViewBag.CurrentSearch })
                    @* @Html.DisplayNameFor(model => model.Nombre)*@
                </th>
                <th></th>
            </tr>
        </thead>

        @* Ahora declaramos el cuerpo que es solo un foreach que recorre todo el modelo*@

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdCategoria }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdCategoria }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.IdCategoria })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Codigo para la paginacion*@

Pagina @(Model.PageCount < Model.PageNumber ? 0
        : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model,Page =>
 Url.Action("Index", new {sort = ViewBag.CurrentSort,
     search = ViewBag.CurrentSearch, Page }))
