@model IEnumerable<SIPCA.CLASES.TipoEntrega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoEntrega }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoEntrega }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoEntrega })
        </td>
    </tr>
}

</table>
